force-app/main/default/flows/US_185_V1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retrieve_SLA_DeadLine</name>
        <label>Retrieve SLA DeadLine</label>
        <locationX>511</locationX>
        <locationY>1702</locationY>
        <actionName>DEF_SlaClockHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Default</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bhId</name>
            <value>
                <elementReference>businessHour_var</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initResp</name>
            <value>
                <elementReference>Retrieve_SLA_Details_Info.SVMXC__Customer_Commitment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>srId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.CreatedDateAndTime__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DEF_SlaClockHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assigne_1h_value</name>
        <label>assigne 1h value</label>
        <locationX>50</locationX>
        <locationY>1936</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_SLA_Details_Info.SVMXC__Customer_Commitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InitialResponse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Request_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigne_1h_value_0</name>
        <label>assigne 24h value</label>
        <locationX>263</locationX>
        <locationY>2017</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_SLA_Details_Info.SVMXC__Customer_Commitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InitialResponse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Request_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default</name>
        <label>Default</label>
        <locationX>544</locationX>
        <locationY>1894</locationY>
        <assignmentItems>
            <assignToReference>$Record.InitialResponse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_SLA_Details_Info.SVMXC__Customer_Commitment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InitialResponseCustomerBy__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tech_BusinessHours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>businessHour_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Request_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Business_Hour_Variable</name>
        <label>Define Business Hour Variable</label>
        <locationX>222</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>businessHour_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SLA_Terms__r.SVMXC__Business_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Business_Hours_is_Available_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Business_Hour_Variable_0</name>
        <label>Define Business Hour Variable</label>
        <locationX>486</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>businessHour_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SVMXC__Account__r.SVMXC__Business_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Business_Hours_is_Available_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Business_Hour_Variable_0_0</name>
        <label>Define Business Hour Variable</label>
        <locationX>750</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>businessHour_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.SVMXC__Business_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Business_Hours_is_Available_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the relevant info when the Service Request is Converted to a Work Order.
e.g. Actual Initial Response date/time.</description>
        <name>Set_Convertion_Info</name>
        <label>Set Convertion Info</label>
        <locationX>772</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>$Record.SVMXC__Actual_Initial_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_info_update_needed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>assistance_telephonique_is_included</name>
        <label>assistance telephonique is included</label>
        <locationX>354</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Retrieve_SLA_DeadLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>assistance_tel_included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_included_service.External_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigne_1h_value</targetReference>
            </connector>
            <label>assistance tel included</label>
        </rules>
        <rules>
            <name>ouest_region</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DEF_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR_DEF_R02</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEF_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR_DEF_R07</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigne_1h_value_0</targetReference>
            </connector>
            <label>ouest region</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Business_Hours_is_Available_or_Not</name>
        <label>Check Business Hours is Available or Not</label>
        <locationX>618</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Request_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Hours_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>businessHour_var</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assistance_telephonique_is_included</targetReference>
            </connector>
            <label>Business Hours is Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>identify which type of business hours we&apos;re gonna implement ( i guess because each agent have different business time)</description>
        <name>Retrieve_Business_Hours_From</name>
        <label>Retrieve Business Hours From ?</label>
        <locationX>618</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Check_Business_Hours_is_Available_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>get_business_hours_from_SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_SLA_Details_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_SLA_Details_Info.SVMXC__Business_Hours_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Business_Hour_Variable</targetReference>
            </connector>
            <label>get business hours from SLA</label>
        </rules>
        <rules>
            <name>get_business_hours_from_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_SLA_Details_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_SLA_Details_Info.SVMXC__Business_Hours_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Business_Hour_Variable_0</targetReference>
            </connector>
            <label>get business hours from Account</label>
        </rules>
        <rules>
            <name>get_business_hours_from_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_SLA_Details_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_SLA_Details_Info.SVMXC__Business_Hours_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Business_Hour_Variable_0_0</targetReference>
            </connector>
            <label>get business hours from Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if the SLA info require an update or no</description>
        <name>SLA_info_update_needed</name>
        <label>SLA info update needed</label>
        <locationX>904</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Request_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA_require_update</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SLA_Terms__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SLA_Terms__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SVMXC__Priority__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SVMXC__Priority__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open_Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contract</targetReference>
            </connector>
            <label>SLA require update</label>
        </rules>
    </decisions>
    <decisions>
        <description>checking if the service request has been converted into an actionnable work order</description>
        <name>SR_has_been_Converted_to_Work_Order</name>
        <label>SR has been Converted to Work Order</label>
        <locationX>904</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>SLA_info_update_needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SR_has_been_converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SVMXC__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open_Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Convertion_Info</targetReference>
            </connector>
            <label>SR has been converted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>US-185 V1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>US-185 V1 5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contract</name>
        <label>get contract</label>
        <locationX>618</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_included_service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SVMXC__Service_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_included_service</name>
        <label>get included service</label>
        <locationX>618</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_SLA_Terms_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SVMXC__Service_Contract_Services__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_SLA_Details_Info</name>
        <label>Retrieve SLA Details Info</label>
        <locationX>618</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Business_Hours_From</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__SLA_Terms__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SLA_Terms__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SVMXC__Priority__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__Priority__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SVMXC__Commitment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InitialResponse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SVMXC__SLA_Detail__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_SLA_Terms_Info</name>
        <label>Retrieve SLA Terms Info</label>
        <locationX>618</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_SLA_Details_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SLA_Terms__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SVMXC__Service_Level__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Request_Fields</name>
        <label>Update Service Request Fields</label>
        <locationX>904</locationX>
        <locationY>2195</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>778</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SR_has_been_Converted_to_Work_Order</targetReference>
        </connector>
        <object>SVMXC__Service_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Id of the Business Hour to be used in the Service Request.</description>
        <name>businessHour_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
